.block {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	position: relative;
	
}


.turn {
background-image: url('/assets/turn.png') ;
	width: 400px;
	height: 400px;
}

.lose  {
	background-image: url('/assets/lose.png') ;
	width: 500px;
	height: 500px;
}


.win  {
	background-image: url('/assets/win.png') ;
	width: 500px;
	height: 500px;

}
