.block {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.turn {
background-image: url('/src/assets/turn.png') ;
	width: 400px;
	height: 400px;
}

.result  {
	background-image: url('/src/assets/result.png') ;
	width: 500px;
	height: 500px;
}

