.mana {
  position: absolute;
  top: 3%;
  left: 8.5%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1; 
}


.attack {
  position: absolute;
  bottom: 3.2%;
  left: 9%;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

.health {
  position: absolute;
  bottom: 3.2%;
  right: 9%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1; 
}

.mana-in-hand {
  font-size: 0.8rem;
}

.attack-in-hand {
  font-size: 0.8rem;
}

.health-in-hand {
  font-size: 0.8rem;
}


.dying-card {
  .health {
    color: red;
    font-size: 1.2rem;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    animation: pulse 0.8s infinite;
  }
}


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake-animation {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
}
