
  @keyframes shake {
    from, to {
      transform: translate(0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      transform: translate3d(5px, 0, 0);
    }
  }
  
  .dialog-cloud {
    position: absolute; 
    top: 10px; 
    left: 14%; 
    font-size: 1rem;
    width: 220px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid gray;
    border-radius: 35px;
    background-color: #8e8c8c;
    transform-origin: top left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-cloud::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px; 
    border-width: 10px;
    border-style: solid;
    border-color: #8e8c8c transparent transparent #8e8c8c; 
  }
  
  .dialog-cloud::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 42px;
    border-width: 10px;
    border-style: solid;
    border-color: #8e8c8c transparent transparent #8e8c8c; 
  }
  
  .dialog-cloud:hover {
    animation: shake 1s;
  }
  