@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	body {
	  color: white;
		margin: 0;
		min-width: 320px;
		min-height: 100vh;
		overflow: hidden;
	}
}

:root {
	font-family: Cinzel, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.56;
	font-size: 18px;
	font-weight: 400;
	color-scheme: light dark;
	color: #333;
	background: radial-gradient(circle, rgb(30, 28, 52) 0%, rgb(3, 3, 28) 44%, rgba(10,10,56,1) 83%);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
    cursor: url('/assets/cursors/Cursor.cur'), pointer;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.bg-image {
	background-image: url('/assets/bg.png');
	background-size: cover;
	background-position: center;
}

.start-img {
	background-image: url('/assets/start-img.png');
	background-size: cover;
	background-position: center;
}

.text-glow {
	animation: glowing 2s infinite;
  }

  @keyframes glowing {
    0% {
        text-shadow: 0 0 7px rgba(248, 6, 6, 0.89);
    }
    50% {
        text-shadow: 0 0 20px rgba(248, 6, 6, 0.903);
    }
    100% { text-shadow: 0 0 7px rgba(248, 6, 6, 0.588);
    }
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .shake {
	animation: shake 0.5s;
	animation-iteration-count: 1;
  }

  @keyframes shake-light {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
	20%, 40%, 60%, 80% { transform: translateX(2px); }
  }
  
  .shake-light {
	animation: shake-light 0.4s ease;
	animation-iteration-count: 1;
  }
  

@keyframes dragonFlight {
  0% {
    transform: translate(-100%, 20px) scale(0.5);
    opacity: 0.4;
  }
  10% {
    transform: translate(5vw, 10px) scale(0.8);
    opacity: 1;
  }
  20% {
    transform: translate(20vw, -50px) scale(1.1);
    opacity: 0.95;
  }
  50% {
    transform: translate(50vw, -80px) scale(1.4);
  }
  75% {
    transform: translate(75vw, 60px) scale(1.8);
  }
  100% {
    transform: translate(110vw, 80px) scale(2);
  }
}

.animate-dragon-flight {
  animation: dragonFlight 45s ease-in-out forwards;
}
